.mat-stepper-vertical {
  margin-top: 180px;
}

.mat-form-field {
  margin-top:8px;
  width: 80%;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 80%;
}

.example-full-width {
  width: 80%;
}

td {
  padding-right: 8px;
}

.example-section {
  margin: 12px 0;
}

.example-margin {
  margin: 0 12px;
}

ul {
  list-style-type: none;
  margin-top: 4px;
}